# Python cache
__pycache__/
*.py[cod]

# Virtual environments
myenv/
venv/
.venv/
env/

# Environment variables and secrets
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db
